/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

@import "bootstrap";

 */

/* line 1, ../../app/assets/stylesheets/extras.css.sass */
.center {
  text-align: center;
}
/* Body and structure
-------------------------------------------------- */
/* line 4, ../../app/assets/stylesheets/home_page.css.scss */
body {
  position: relative;
  padding-top: 90px;
  background-color: #fff;
  background-image: url(../img/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
/* line 16, ../../app/assets/stylesheets/home_page.css.scss */
.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

/* line 28, ../../app/assets/stylesheets/home_page.css.scss */
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

/* Space out sub-sections more
-------------------------------------------------- */
/* line 35, ../../app/assets/stylesheets/home_page.css.scss */
section {
  padding-top: 60px;
}

/* Faded out hr */
/* line 40, ../../app/assets/stylesheets/home_page.css.scss */
hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  border: 0;
}

/* Jumbotrons
-------------------------------------------------- */
/* line 53, ../../app/assets/stylesheets/home_page.css.scss */
.jumbotron {
  position: relative;
}

/* line 56, ../../app/assets/stylesheets/home_page.css.scss */
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

/* line 63, ../../app/assets/stylesheets/home_page.css.scss */
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}

/* line 67, ../../app/assets/stylesheets/home_page.css.scss */
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 76, ../../app/assets/stylesheets/home_page.css.scss */
.jumbotron .btn-large small {
  font-size: 14px;
}

/* Masthead (docs home) */
/* line 81, ../../app/assets/stylesheets/home_page.css.scss */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}

/* line 86, ../../app/assets/stylesheets/home_page.css.scss */
.masthead h1,
.masthead p {
  text-align: center;
}

/* line 89, ../../app/assets/stylesheets/home_page.css.scss */
.masthead h1 {
  margin-bottom: 18px;
}

/* line 92, ../../app/assets/stylesheets/home_page.css.scss */
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
/* line 103, ../../app/assets/stylesheets/home_page.css.scss */
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}

/* line 107, ../../app/assets/stylesheets/home_page.css.scss */
.subhead h1 {
  font-size: 54px;
}

/* Subnav */
/* line 112, ../../app/assets/stylesheets/home_page.css.scss */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee;
  /* Old browsers */
  background-repeat: repeat-x;
  /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 129, ../../app/assets/stylesheets/home_page.css.scss */
.subnav .nav {
  margin-bottom: 0;
}

/* line 132, ../../app/assets/stylesheets/home_page.css.scss */
.subnav .nav > li > a {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 143, ../../app/assets/stylesheets/home_page.css.scss */
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
}

/* line 154, ../../app/assets/stylesheets/home_page.css.scss */
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}

/* line 158, ../../app/assets/stylesheets/home_page.css.scss */
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 165, ../../app/assets/stylesheets/home_page.css.scss */
.subnav .nav > li:last-child > a {
  border-right: 0;
}

/* line 168, ../../app/assets/stylesheets/home_page.css.scss */
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  /* line 176, ../../app/assets/stylesheets/home_page.css.scss */
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020;
    /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px;
    /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    /* IE6-9 */
  }

  /* line 192, ../../app/assets/stylesheets/home_page.css.scss */
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }

  /* line 198, ../../app/assets/stylesheets/home_page.css.scss */
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
/* Quick links
-------------------------------------------------- */
/* line 208, ../../app/assets/stylesheets/home_page.css.scss */
.bs-links {
  margin: 36px 0;
}

/* line 211, ../../app/assets/stylesheets/home_page.css.scss */
.quick-links {
  min-height: 30px;
  margin: 0;
  padding: 5px 20px;
  list-style: none;
  text-align: center;
  overflow: hidden;
}

/* line 219, ../../app/assets/stylesheets/home_page.css.scss */
.quick-links:first-child {
  min-height: 0;
}

/* line 222, ../../app/assets/stylesheets/home_page.css.scss */
.quick-links li {
  display: inline;
  margin: 0 8px;
  color: #999;
}

/* line 229, ../../app/assets/stylesheets/home_page.css.scss */
.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn {
  position: relative;
  top: 5px;
}

/* Marketing section of Overview
-------------------------------------------------- */
/* line 237, ../../app/assets/stylesheets/home_page.css.scss */
.marketing .row {
  margin-bottom: 9px;
}

/* line 240, ../../app/assets/stylesheets/home_page.css.scss */
.marketing h1 {
  margin: 36px 0 27px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

/* line 247, ../../app/assets/stylesheets/home_page.css.scss */
.marketing h2,
.marketing h3 {
  font-weight: 300;
}

/* line 250, ../../app/assets/stylesheets/home_page.css.scss */
.marketing h2 {
  font-size: 22px;
}

/* line 253, ../../app/assets/stylesheets/home_page.css.scss */
.marketing p {
  margin-right: 10px;
}

/* line 256, ../../app/assets/stylesheets/home_page.css.scss */
.marketing .bs-icon {
  float: left;
  margin: 7px 10px 0 0;
  opacity: .8;
}

/* line 261, ../../app/assets/stylesheets/home_page.css.scss */
.marketing .small-bs-icon {
  float: left;
  margin: 4px 5px 0 0;
}

/* Footer
-------------------------------------------------- */
/* line 270, ../../app/assets/stylesheets/home_page.css.scss */
.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

/* line 275, ../../app/assets/stylesheets/home_page.css.scss */
.footer p {
  margin-bottom: 0;
  color: #555;
}

/* Special grid styles
-------------------------------------------------- */
/* line 284, ../../app/assets/stylesheets/home_page.css.scss */
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 288, ../../app/assets/stylesheets/home_page.css.scss */
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}

/* line 297, ../../app/assets/stylesheets/home_page.css.scss */
.show-grid:hover [class*="span"] {
  background: #ddd;
}

/* line 300, ../../app/assets/stylesheets/home_page.css.scss */
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 304, ../../app/assets/stylesheets/home_page.css.scss */
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}

/* Render mini layout previews
-------------------------------------------------- */
/* line 311, ../../app/assets/stylesheets/home_page.css.scss */
.mini-layout {
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

/* line 320, ../../app/assets/stylesheets/home_page.css.scss */
.mini-layout {
  height: 240px;
  margin-bottom: 20px;
  padding: 9px;
}

/* line 325, ../../app/assets/stylesheets/home_page.css.scss */
.mini-layout div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 330, ../../app/assets/stylesheets/home_page.css.scss */
.mini-layout .mini-layout-body {
  background-color: #dceaf4;
  margin: 0 auto;
  width: 70%;
  height: 240px;
}

/* line 338, ../../app/assets/stylesheets/home_page.css.scss */
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
  float: left;
}

/* line 341, ../../app/assets/stylesheets/home_page.css.scss */
.mini-layout.fluid .mini-layout-sidebar {
  background-color: #bbd8e9;
  width: 20%;
  height: 240px;
}

/* line 346, ../../app/assets/stylesheets/home_page.css.scss */
.mini-layout.fluid .mini-layout-body {
  width: 77.5%;
  margin-left: 2.5%;
}

/* Popover docs
-------------------------------------------------- */
/* line 354, ../../app/assets/stylesheets/home_page.css.scss */
.popover-well {
  min-height: 160px;
}

/* line 357, ../../app/assets/stylesheets/home_page.css.scss */
.popover-well .popover {
  display: block;
}

/* line 360, ../../app/assets/stylesheets/home_page.css.scss */
.popover-well .popover-wrapper {
  width: 50%;
  height: 160px;
  float: left;
  margin-left: 55px;
  position: relative;
}

/* line 367, ../../app/assets/stylesheets/home_page.css.scss */
.popover-well .popover-menu-wrapper {
  height: 80px;
}

/* line 370, ../../app/assets/stylesheets/home_page.css.scss */
.large-bird {
  margin: 5px 0 0 310px;
  opacity: .1;
}

/* Download page
-------------------------------------------------- */
/* line 378, ../../app/assets/stylesheets/home_page.css.scss */
.download .page-header {
  margin-top: 36px;
}

/* line 381, ../../app/assets/stylesheets/home_page.css.scss */
.page-header .toggle-all {
  margin-top: 5px;
}

/* Space out h3s when following a section */
/* line 386, ../../app/assets/stylesheets/home_page.css.scss */
.download h3 {
  margin-bottom: 5px;
}

/* line 390, ../../app/assets/stylesheets/home_page.css.scss */
.download-builder input + h3,
.download-builder .checkbox + h3 {
  margin-top: 9px;
}

/* Fields for variables */
/* line 395, ../../app/assets/stylesheets/home_page.css.scss */
.download-builder input[type=text] {
  margin-bottom: 9px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #d14;
}

/* line 401, ../../app/assets/stylesheets/home_page.css.scss */
.download-builder input[type=text]:focus {
  background-color: #fff;
}

/* Custom, larger checkbox labels */
/* line 406, ../../app/assets/stylesheets/home_page.css.scss */
.download .checkbox {
  padding: 6px 10px 6px 25px;
  color: #555;
  background-color: #f9f9f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 415, ../../app/assets/stylesheets/home_page.css.scss */
.download .checkbox:hover {
  color: #333;
  background-color: #f5f5f5;
}

/* line 419, ../../app/assets/stylesheets/home_page.css.scss */
.download .checkbox small {
  font-size: 12px;
  color: #777;
}

/* Variables section */
/* line 425, ../../app/assets/stylesheets/home_page.css.scss */
#variables label {
  margin-bottom: 0;
}

/* Giant download button */
/* line 430, ../../app/assets/stylesheets/home_page.css.scss */
.download-btn {
  margin: 36px 0 108px;
}

/* line 434, ../../app/assets/stylesheets/home_page.css.scss */
#download p,
#download h4 {
  max-width: 50%;
  margin: 0 auto;
  color: #999;
  text-align: center;
}

/* line 440, ../../app/assets/stylesheets/home_page.css.scss */
#download h4 {
  margin-bottom: 0;
}

/* line 443, ../../app/assets/stylesheets/home_page.css.scss */
#download p {
  margin-bottom: 18px;
}

/* line 446, ../../app/assets/stylesheets/home_page.css.scss */
.download-btn .btn {
  display: block;
  width: auto;
  padding: 19px 24px;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* Color swatches on LESS docs page
-------------------------------------------------- */
/* Sets the width of the td */
/* line 464, ../../app/assets/stylesheets/home_page.css.scss */
.swatch-col {
  width: 30px;
}

/* Le swatch */
/* line 468, ../../app/assets/stylesheets/home_page.css.scss */
.swatch {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: -6px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* For white swatches, give a border */
/* line 478, ../../app/assets/stylesheets/home_page.css.scss */
.swatch-bordered {
  width: 28px;
  height: 18px;
  border: 1px solid #eee;
}

/* Misc
-------------------------------------------------- */
/* Make tables spaced out a bit more */
/* line 492, ../../app/assets/stylesheets/home_page.css.scss */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
  margin-top: 5px;
}

/* Example sites showcase */
/* line 497, ../../app/assets/stylesheets/home_page.css.scss */
.example-sites img {
  max-width: 100%;
  margin: 0 auto;
}

/* line 501, ../../app/assets/stylesheets/home_page.css.scss */
.marketing-byline {
  margin: -18px 0 27px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
  text-align: center;
}

/* line 510, ../../app/assets/stylesheets/home_page.css.scss */
.scrollspy-example {
  height: 200px;
  overflow: auto;
  position: relative;
}

/* Remove bottom margin on example forms in wells */
/* line 517, ../../app/assets/stylesheets/home_page.css.scss */
form.well {
  padding: 14px;
}

/* Tighten up spacing */
/* line 522, ../../app/assets/stylesheets/home_page.css.scss */
.well hr {
  margin: 18px 0;
}

/* Fake the :focus state to demo it */
/* line 527, ../../app/assets/stylesheets/home_page.css.scss */
.focused {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}

/* For input sizes, make them display block */
/* line 537, ../../app/assets/stylesheets/home_page.css.scss */
.docs-input-sizes select,
.docs-input-sizes input[type=text] {
  display: block;
  margin-bottom: 9px;
}

/* Icons
------------------------- */
/* line 544, ../../app/assets/stylesheets/home_page.css.scss */
.the-icons {
  margin-left: 0;
  list-style: none;
}

/* line 548, ../../app/assets/stylesheets/home_page.css.scss */
.the-icons i:hover {
  background-color: rgba(255, 0, 0, 0.25);
}

/* Eaxmples page
------------------------- */
/* line 554, ../../app/assets/stylesheets/home_page.css.scss */
.bootstrap-examples .thumbnail {
  margin-bottom: 9px;
  background-color: #fff;
}

/* Responsive table
------------------------- */
/* line 561, ../../app/assets/stylesheets/home_page.css.scss */
.responsive-utilities th small {
  display: block;
  font-weight: normal;
  color: #999;
}

/* line 566, ../../app/assets/stylesheets/home_page.css.scss */
.responsive-utilities tbody th {
  font-weight: normal;
}

/* line 569, ../../app/assets/stylesheets/home_page.css.scss */
.responsive-utilities td {
  text-align: center;
}

/* line 572, ../../app/assets/stylesheets/home_page.css.scss */
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}

/* line 576, ../../app/assets/stylesheets/home_page.css.scss */
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}

/* Responsive tests
------------------------- */
/* line 583, ../../app/assets/stylesheets/home_page.css.scss */
.responsive-utilities-test {
  margin-top: 5px;
  margin-left: 0;
  list-style: none;
  overflow: hidden;
  /* clear floats */
}

/* line 589, ../../app/assets/stylesheets/home_page.css.scss */
.responsive-utilities-test li {
  position: relative;
  float: left;
  width: 25%;
  height: 43px;
  font-size: 14px;
  font-weight: bold;
  line-height: 43px;
  color: #999;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 604, ../../app/assets/stylesheets/home_page.css.scss */
.responsive-utilities-test li + li {
  margin-left: 10px;
}

/* line 607, ../../app/assets/stylesheets/home_page.css.scss */
.responsive-utilities-test span {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 617, ../../app/assets/stylesheets/home_page.css.scss */
.responsive-utilities-test span {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {
  /* Reduce padding above jumbotron */
  /* line 629, ../../app/assets/stylesheets/home_page.css.scss */
  body {
    padding-top: 70px;
  }

  /* Change up some type stuff */
  /* line 634, ../../app/assets/stylesheets/home_page.css.scss */
  h2 {
    margin-top: 27px;
  }

  /* line 637, ../../app/assets/stylesheets/home_page.css.scss */
  h2 small {
    display: block;
    line-height: 18px;
  }

  /* line 641, ../../app/assets/stylesheets/home_page.css.scss */
  h3 {
    margin-top: 18px;
  }

  /* icons */
  /* line 646, ../../app/assets/stylesheets/home_page.css.scss */
  .marketing .bs-icon {
    margin: 0;
  }

  /* Adjust the jumbotron */
  /* line 652, ../../app/assets/stylesheets/home_page.css.scss */
  .jumbotron h1,
  .jumbotron p {
    text-align: center;
    margin-right: 0;
  }

  /* line 656, ../../app/assets/stylesheets/home_page.css.scss */
  .jumbotron h1 {
    font-size: 45px;
    margin-right: 0;
  }

  /* line 660, ../../app/assets/stylesheets/home_page.css.scss */
  .jumbotron p {
    margin-right: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 24px;
  }

  /* line 666, ../../app/assets/stylesheets/home_page.css.scss */
  .jumbotron .btn {
    display: block;
    font-size: 18px;
    padding: 10px 14px;
    margin: 0 auto 10px;
  }

  /* Masthead (home page jumbotron) */
  /* line 673, ../../app/assets/stylesheets/home_page.css.scss */
  .masthead {
    padding-top: 0;
  }

  /* Don't space out quick links so much */
  /* line 678, ../../app/assets/stylesheets/home_page.css.scss */
  .quick-links {
    margin: 40px 0 0;
  }

  /* hide the bullets on mobile since our horizontal space is limited */
  /* line 682, ../../app/assets/stylesheets/home_page.css.scss */
  .quick-links .divider {
    display: none;
  }

  /* center example sites */
  /* line 687, ../../app/assets/stylesheets/home_page.css.scss */
  .example-sites {
    margin-left: 0;
  }

  /* line 690, ../../app/assets/stylesheets/home_page.css.scss */
  .example-sites > li {
    float: none;
    display: block;
    max-width: 280px;
    margin: 0 auto 18px;
    text-align: center;
  }

  /* line 697, ../../app/assets/stylesheets/home_page.css.scss */
  .example-sites .thumbnail > img {
    max-width: 270px;
  }

  /* line 701, ../../app/assets/stylesheets/home_page.css.scss */
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Modal example */
  /* line 708, ../../app/assets/stylesheets/home_page.css.scss */
  .modal-example .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}
@media (max-width: 768px) {
  /* Remove any padding from the body */
  /* line 722, ../../app/assets/stylesheets/home_page.css.scss */
  body {
    padding-top: 0;
  }

  /* Jumbotron buttons */
  /* line 727, ../../app/assets/stylesheets/home_page.css.scss */
  .jumbotron .btn {
    margin-bottom: 10px;
  }

  /* Subnav */
  /* line 732, ../../app/assets/stylesheets/home_page.css.scss */
  .subnav {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: #fff;
    /* whole background property since we use a background-image for gradient */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 743, ../../app/assets/stylesheets/home_page.css.scss */
  .subnav .nav > li {
    float: none;
  }

  /* line 746, ../../app/assets/stylesheets/home_page.css.scss */
  .subnav .nav > li > a {
    border: 0;
  }

  /* line 749, ../../app/assets/stylesheets/home_page.css.scss */
  .subnav .nav > li + li > a {
    border-top: 1px solid #e5e5e5;
  }

  /* line 753, ../../app/assets/stylesheets/home_page.css.scss */
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }

  /* Popovers */
  /* line 760, ../../app/assets/stylesheets/home_page.css.scss */
  .large-bird {
    display: none;
  }

  /* line 763, ../../app/assets/stylesheets/home_page.css.scss */
  .popover-well .popover-wrapper {
    margin-left: 0;
  }

  /* Space out the show-grid examples */
  /* line 768, ../../app/assets/stylesheets/home_page.css.scss */
  .show-grid [class*="span"] {
    margin-bottom: 5px;
  }

  /* Unfloat the back to top link in footer */
  /* line 773, ../../app/assets/stylesheets/home_page.css.scss */
  .footer .pull-right {
    float: none;
  }

  /* line 776, ../../app/assets/stylesheets/home_page.css.scss */
  .footer p {
    margin-bottom: 9px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* Scale down the jumbotron content */
  /* line 786, ../../app/assets/stylesheets/home_page.css.scss */
  .jumbotron h1 {
    font-size: 54px;
  }

  /* line 789, ../../app/assets/stylesheets/home_page.css.scss */
  .jumbotron p {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  /* line 800, ../../app/assets/stylesheets/home_page.css.scss */
  body {
    padding-top: 0;
  }

  /* Scale down the jumbotron content */
  /* line 805, ../../app/assets/stylesheets/home_page.css.scss */
  .jumbotron h1 {
    font-size: 72px;
  }
}
@media (max-width: 980px) {
  /* Unfloat brand */
  /* line 815, ../../app/assets/stylesheets/home_page.css.scss */
  .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  /* line 823, ../../app/assets/stylesheets/home_page.css.scss */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }
}
/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {
  /* Update subnav container */
  /* line 835, ../../app/assets/stylesheets/home_page.css.scss */
  .subnav-fixed .nav {
    width: 1168px;
    /* 2px less to account for left/right borders being removed when in fixed mode */
  }
}
/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 8, ../../app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 13, ../../app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 18, ../../app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 20, ../../app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 22, ../../app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 27, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 30, ../../app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 33, ../../app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 38, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 45, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 54, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
