%h1 Spending Money
%h3.right You have #{number_to_currency(@your_chunk, percision:0)} to spend.
%br

.hero-unit.larger
  You have #{number_to_currency(@your_chunk, percision:0)} to spend on the programs below. Split it up however
  you want. We will compile your choices with everyone else and find out how close it matching to the actual spending
  for San Francisco.

%ul= render @functions
.clear
