%h1 Spending Money
%h3.right You have #{number_to_currency(@your_chunk, precision:0)} to spend.
%br

.hero-unit.larger
  %p
    You have #{number_to_currency(@your_chunk, precision:0)} to spend on the
    programs below.

  %p
    Split it up however you want, and we will compile your choices with
    everyone else's to find out how close it matches the actual spending
    for San Francisco.

:javascript
  $('.collapse').collapse();

%ul= render @functions

.clear
