%h1
  Showing Department:
  %small
    = department

%dl.dl-horizontal
  %dt function
  %dd= link_to department.function, department.function

  %dt ref code
  %dd= department.reference_code

%h2 Programs

%ul.nav.nav-pills.nav-stacked
  - department_programs.each do |program|
    %li= link_to program, program
