%header.jumbotron.subhead#overview
  %h1 Spending Money
  %p.lead Lets spend some money, shall we?

.row
  .span4
    %blockquote
      %p
        Each year the City and
        County of San Francisco
        spends billions of dollars...

    %blockquote
      %p
        One  of the challenges each
        year is that the City must
        estimate its revenues and
        costs as far as 18 months in
        advance.


    %blockquote
      %p
        Your tax dollars go into the
        budget, and
        %strong
          public input on
          how the money is spent is vital.

      %small
        City &amp; County of San Francisco, Controller's Office
