%header.jumbotron.subhead#overview
  %h1 Spending Money
  %p.lead Lets spend some money, shall we?

.row
  .span4
    %blockquote
      %p
        Each year the City and
        County of San Francisco
        spends billions of dollars...

    %blockquote
      %p
        One  of the challenges each
        year is that the City must
        estimate its revenues and
        costs as far as 18 months in
        advance.


    %blockquote
      %p
        Your tax dollars go into the
        budget, and
        %strong
          public input on
          how the money is spent is vital.

      %small
        City &amp; County of San Francisco, Controller's Office

      %br
      .span4.offset2
        %canvas{id:"the_graph", width:"700", height:"200"} No canvas support

  .span8
    .hero-unit
      %h2 Where Can I Make My Voice Heard?

      .btn-toolbar
        = link_to "Get Started", functions_path, class: 'btn btn-primary btn-large'

:javascript
  var current_revenue = "#{number_to_human(@current_revenue, precision:2)}";
  var your_chunk = "#{number_to_currency(@your_chunk, precision:0)}";
  var revenues = #{@revenues};
  var x = 10;
  c = document.getElementById("the_graph");
  ctx = c.getContext("2d");

  ctx.fillStyle="#000000";
  ctx.fillRect(0,0,580,200);
  ctx.fillStyle="#FFFFFF";
  ctx.fillRect(2,2,576,196);

  ctx.fillStyle="#000000";
  ctx.font = "bold italic 20pt Helvetica";
  ctx.fillText(current_revenue, 10, 50);

  ctx.font = "bold 20pt Helvetica";
  ctx.fillText("Your Chunk: " + your_chunk, 150, 180);

  ctx.moveTo(2, 196);
  for (var i in revenues) {
    x += 25;
    y = (revenues[i] / 100000000) * (200 / 100);
    ctx.lineTo(x,  y);
  }
  ctx.stroke();
