%h1 About

%p
  Want to know more about how your taxes are spent?
  This application helps solve that question.

%p
  We want to help you know more about how your money is spent by your
  public representatives and to help you get involved with the budget process.

%h2 Budget Process
%p
  You can learn more about the budget process here:
  = link_to "A Guide to San Francisco's Budget Process", "http://www.sfcontroller.org/index.aspx?page=392", target: "_blank"

%h2 Similar Applications
%p
  Understanding the history of San Francisco finances:
  = link_to "California Common Sense project - History of San Francisco Finances", "http://www.cacs.org/ca/visualization/1508", target: "_blank"

%h2 Meta
%p
  This web site was created 7-29-2012 at #{link_to 'Hack For Change', 'http://www.change.org/about/hackforchange'} presented by
  = link_to 'change.org', 'http://Change.org', target: "_blank"
