%h1 About

.row
  .span4
    This application was created 2012-07-29 during a hackathon presented by
    = link_to 'change.org', 'http://change.org', target: "_blank"

  .span4
    %p
      You can learn more about the budget process here:
      = link_to "A Guide to San Francisco's Budget Process", "http://www.sfcontroller.org/index.aspx?page=392"
