%h1 About

%p
  Havn't you ever wanted to know more about how your taxes are spent? This web application was designed to solve
  just that problem. We want you to know more about how your money is spent by our public representatives and get
  involved with the process.

.row
  .span4
    %p
      • You can learn more about the budget process here:
      = link_to "A Guide to San Francisco's Budget Process", "http://www.sfcontroller.org/index.aspx?page=392", target: "_blank"

  .span4
    %p
      • Understanding the history of San Francisco finances:
      = link_to "California Common Sense project - History of San Francisco Finances", "http://www.cacs.org/ca/visualization/1508", target: "_blank"

  .span4
    %p
      • This web site was created 7-29-2012 at #{link_to 'Hack For Change', 'http://www.change.org/about/hackforchange'} presented by
      = link_to 'change.org', 'http://Change.org', target: "_blank"

