.spending
  ul, li
    list-style-type: none
  li > span
    display: inline-block
    padding: 5px 10px
    margin: 0 0 10px 0
    border-radius: 5px
    input
      vertical-align: middle
.function
  font-size: larger
  background: #0088ff
  color: white
.department
  background: #eeaa11
  color: black
.program
  display: block
  font-size: larger
  background: #ffffff
  color: black
