.function
  width: 100%
  text-align: left
  border: solid 1px #1166cc
  background: #0066ff
  color: white
  padding: 5px
.department
  width: 75%
  text-align: left
  border: solid 1px #11cc66
  background: #00ff66
  color: black
  padding: 5px
.program
  text-align: right
  background: #ffffff
  color: black
  padding-right: 10px
  font-size: larger
  vertical-align: top
  padding-top: 5px
.program:after
  content: ':'
